@import "tailwindcss";
@import "tw-animate-css";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
    color: var(--surface);
    --background: #ffffff;
    --dark-background: #e1e1e1;
    --foreground: #343434;
    --card: #ffffff;
    --card-foreground: #0a0a0a;
    --popover: #ffffff;
    --popover-foreground: #0a0a0a;
    --primary: #4392F1;
    --primary-rgb: 67, 146, 241;
    /* RGB values of #4392f1 */
    --primary-foreground: #fafafa;
    --primary-gradient: linear-gradient(135deg, #4392f1 100%, #2563ef 100%);
    --secondary: #24b2bc;
    --secondary-rgb: 36, 178, 188;
    --secondary-foreground: #ffffff;
    --surface: #000000;
    --surface-rgb: 0, 0, 0;
    --muted: #f5f5f5;
    --muted-foreground: #737373;
    --accent: #f5f5f5;
    --accent-foreground: #171717;
    --destructive: #e7000b;
    --destructive-foreground: #ffffff;
    --border: #e5e5e5;
    --input: #e5e5e5;
    --ring: #a1a1a1;
    --chart-1: #91c5ff;
    --chart-2: #3a81f6;
    --chart-3: #2563ef;
    --chart-4: #1a4eda;
    --chart-5: #1f3fad;
    --sidebar: #fafafa;
    --sidebar-foreground: #0a0a0a;
    --sidebar-primary: #171717;
    --sidebar-primary-foreground: #fafafa;
    --sidebar-accent: #f5f5f5;
    --sidebar-accent-foreground: #171717;
    --sidebar-border: #e5e5e5;
    --sidebar-ring: #a1a1a1;
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --radius: 0.625rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
}

.dark {
    color: var(--surface);
    --background: #070711;
    --dark-background: #000410;
    --foreground: #fafafa;
    --surface: #fafafa;
    --surface-rgb: 250, 250, 250;
    --card: #171717;
    --card-foreground: #fafafa;
    --popover: #262626;
    --popover-foreground: #fafafa;
    --primary: #4392F1;
    --primary-rgb: 67, 146, 241;
    /* Same RGB values */
    --primary-foreground: #ffffff;
    --primary-gradient: linear-gradient(135deg, #4392f1 0%, #2563ef 100%);
    --secondary: #115055;
    --secondary-foreground: #fafafa;
    --muted: #262626;
    --muted-foreground: #a1a1a1;
    --accent: #404040;
    --accent-foreground: #fafafa;
    --destructive: #ff6467;
    --destructive-foreground: #fafafa;
    --border: #282828;
    --input: #343434;
    --ring: #737373;
    --chart-1: #91c5ff;
    --chart-2: #3a81f6;
    --chart-3: #2563ef;
    --chart-4: #1a4eda;
    --chart-5: #1f3fad;
    --sidebar: #171717;
    --sidebar-foreground: #fafafa;
    --sidebar-primary: #1447e6;
    --sidebar-primary-foreground: #fafafa;
    --sidebar-accent: #262626;
    --sidebar-accent-foreground: #fafafa;
    --sidebar-border: #282828;
    --sidebar-ring: #525252;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

html,
body {
    scrollbar-width: auto;
    scrollbar-color: var(--muted) transparent;
    overscroll-behavior: none;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-dbackground: var(--dark-background);
    --color-surface: var(--surface);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
}

@font-face {
    font-family: 'Utendo';
    src: url('./assets/fonts/subset.woff2') format('woff2'), url('./assets/fonts/subset.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.font-logo {
    font-family: 'Utendo', serif;
}

.glow-primary {
    /*position: relative;*/
    box-shadow: 0 0 40px rgba(var(--primary-rgb), 0.1);
    /*animation: glowPrimary 2s ease-in-out infinite;*/
}

.hover\:glow-primary:hover {
    box-shadow: 0 0 40px rgba(var(--primary-rgb), 0.1);
}

.focus\:glow-primary:focus {
    box-shadow: 0 0 40px rgba(var(--primary-rgb), 0.1);
}

.text-glow-primary {
    text-shadow:
            0 0 40px rgba(var(--primary-rgb), 0.5),
            0 0 80px rgba(var(--surface-rgb), 0.1)
}

.glow-surface {
    /*position: relative;*/
    box-shadow: 0 0 40px rgba(var(--surface-rgb), 0.1);
    /*animation: glowPrimary 2s ease-in-out infinite;*/
}

.text-glow-surface {
    text-shadow:
            0 0 40px rgba(var(--surface-rgb), 0.3)
}

@keyframes glowPrimary {

    0%,
    100% {}

    50% {
        box-shadow: 0 0 30px rgba(var(--primary-rgb), 0.7);
    }
}

@keyframes glow-pulse {

    0%,
    100% {
        filter: drop-shadow(0 0 20px rgba(var(--primary-rgb), 0.3)) drop-shadow(0 0 40px rgba(var(--primary-rgb), 0.1));
    }

    50% {
        filter: drop-shadow(0 0 25px rgba(var(--primary-rgb), 0.4)) drop-shadow(0 0 50px rgba(var(--primary-rgb), 0.15));
    }
}

.landing-button {
    letter-spacing: -.2px;
    color: #fff;
    cursor: pointer;
    isolation: isolate;
    z-index: 15;
    text-shadow: 0 1px 2px #0000001a;
    background: var(--primary-gradient);
    border: none;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    gap: .8rem;
    height: 55px;
    padding: 0 2em;
    font-size: 1rem;
    font-weight: 500;
    transition: all .4s cubic-bezier(.175, .885, .32, 1.275);
    animation: 3s ease-in-out infinite alternate glow-pulse;
    display: flex;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 40px rgba(67, 146, 241, 0.10), 0 0 80px #8b5cf61a, 0 8px 32px #0000001a;
}

.landing-button:hover {
    transition: all .4s cubic-bezier(.175, .885, .32, 1.275);
    padding: 0 2.5em;
    animation-duration: 1.5s;
    transform: scale(1.01);
    box-shadow: 0 0 60px rgba(67, 146, 241, 0.21), 0 0 120px #8b5cf633, 0 0 180px #6d28d933, 0 12px 40px #0006, inset 0 -2px #0000004d;
}

/* Custom scrollbar styling for country selector */
.scrollbar-muted {
    scrollbar-width: auto;
    scrollbar-color: var(--muted) transparent;
}

.scrollbar-muted::-webkit-scrollbar {
    width: 8px;
}

.scrollbar-muted::-webkit-scrollbar-track {
    background: transparent;
}

.scrollbar-muted::-webkit-scrollbar-thumb {
    background-color: var(--muted);
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.scrollbar-muted::-webkit-scrollbar-thumb:hover {
    background-color: var(--muted);
    opacity: 0.8;
}


/* Fix per contenitori che potrebbero avere overflow hidden */
nav,
nav *,
.container {
    /*max-width: 66% !important;*/
    overflow: visible !important;
}